<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..css/style.css">
    <title>Accommodations Assistance Home</title>
</head>
<body class="index">
    <nav>
        <ul>
            <li>More Information</li>
            <li>About</li>
            <li>Contact Us</li>
        </ul>
    </nav>
    <div class="container">
        <h1>Welcome to Your Accommodations Assistant</h1>
        <h2>Get the Help You Need to Give The Help They Deserve</h2>
        <a href="/login">Log In</a>
        <a href="/signup">Sign Up</a>
    </div>
    
</body>
</html>